<div class="container from-top-padding">
  <div class="row">

    <!--    <div class="s">-->
    <div id="products">


      <% @users.each do |user| %>
        <div class="col m3">
          <div class="card blue lighten-1">
            <div class="card">
              <span class="card-title"><%= user.name %></span>
            </div>
            <div class="card-content white-text">
              <p><%= user.email %></p>
            </div>
            <!--                <div class="card-action">-->
            <%#= link_to 'Edit', edit_user_path(user), class: "white-text" %>
            <%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "white-text" %>
            <!--                </div>-->
          </div>
        </div>

      <% end %>
    </div>


  </div>
  <div class="row ">
    <%= will_paginate @users , :id => 'infinite-scrolling' %>
  </div>
</div>
