
<!--This is controlled by vue instance-->
<div id="editor">
<!--<div class="container">-->
  <div class="row">
    <div class="div-editor">
      <section class="section-video">
          <%= video_tag url_for(@video.video_file),  :controls => true, :class => "responsive-video" %>
      </section>
      <section class="section-form__subtitles">
            <nav class="nav-extended blue">
                <ul class="tabs tabs-transparent blue">
                  <li class="tab"><a v-bind:class="activeOptions.text ? 'active': '' "
                                     @click="setText">Text</a></li>
                  <li class="tab"><a v-bind:class="activeOptions.audio ? 'active': '' " @click="setAudio">
                    Audio</a></li>
                  <li class="tab"><a v-bind:class="activeOptions.effect ? 'active': '' " @click="setEffect">Effects</a></li>
                </ul>
            </nav>




        <div id="text-form" v-bind:class="activeOptions.text ? '' : 'hide'">
            <div class="div-form__content">
              <input placeholder="Your text" id="subtitle" name="text" type="text" class="validate active form-item" active="true" v-model="subtitle">
              <div class="input-field form-item">
                <select v-model="font">
                  <option value="" disabled selected>Choose your font</option>
                  <% @fonts.each { |font |   %>
                    <option value="<%= font.path %>"><%= font.name%></option>
                  <% } %>

                </select>

                <label>Font</label>
              </div>
              <div class="input-field form-item"  id="input-number">
                <input type="number"  min="1" max="100" step="1" data-number-to-fixed="2" data-number-stepfactor="100" v-model="fontSize"/>
                <label>Size</label>
              </div>

              <div class="input-field form-item" id="input-fontstyle">
                <select>
                  <option value="" disabled selected>Regular</option>
                  <option value="1">Bold</option>
                  <option value="2">Italic</option>
                  <option value="3">Dashed</option>
                </select>

                <label>Style</label>
              </div>




              <button type="submit" id="submit-text-button" @click="addSubtitle" class="waves-effect waves-light btn blue form-item">
                Add Subtitle
              </button>
          </div>
        </div>

        <div id="audio-form" v-bind:class="activeOptions.audio ? '' : 'hide'">
<!--          <h1>This is a Audio</h1>-->

          <div class="scrollbar">

          </div>
        </div>

        <div id="effect-form" v-bind:class="activeOptions.effect ? '' : 'hide'">
          <h1>This is Effects</h1>
        </div>

      </section>





    </div>


  </div>

<!--</div>-->
</div>



<script>





    $(document).ready(function(){
        $('select').formSelect();
    });

    var app = new Vue({
        el: '#editor',
        data: {
            subtitle: '',
            id: <%= @video.id %>,
            activeOptions: {
                audio: false,
                text: true,
                effect: false
            },
            fontSize: 12,
            font: -1
        },
        methods: {
            addSubtitle() {
                jQuery.post(`http://localhost:3000/videos/${this.id}/subtitle`,
                    {
                        video_id: this.id,
                        subtitle: this.subtitle,
                        fontsize: this.fontSize,
                        font: this.font
                    }, () => {
                        location.reload()
                    })

                console.log(this.id)
                console.log(this.subtitle)
                console.log(this.font)
            },
            setAudio(){
                if( !this.activeOptions.audio ){
                    this.activeOptions.audio = true;
                    this.activeOptions.text = false;
                    this.activeOptions.effect = false;
                }
            },
            setText(){
                if( !this.activeOptions.text ){
                    this.activeOptions.audio = false;
                    this.activeOptions.text = true;
                    this.activeOptions.effect = false;
                }
            },
            setEffect(){
                if( !this.activeOptions.effect ){
                    this.activeOptions.audio = false;
                    this.activeOptions.text = false;
                    this.activeOptions.effect = true;
                }
            }
        }
    })

</script>


<style>

  @font-face {
    font-family: "American Typewriter";
    src: url('/app/assets/fonts/AmericanTypewriter.ttc');
  }

  .section-form__subtitles {
    position: absolute;
    display: inline-block;
    width: 30%;
    border-bottom: thin solid black;
    border-right: thin solid black;
    border-top: thin solid black;

    vertical-align: middle;
    height: auto;
    /*margin: 10px;*/
    right: 0px;
  }

  .section-video {
    position: absolute;
    display: inline-block;
    width: 70%;
    vertical-align: middle ;
    padding: 30px;
    border: thin solid black;
    /*bottom: 0px;*/
  }

  .div-editor {
    position: relative;
    width: 100%;
    height: 44.9rem;

  }
  .div-form__content{
    padding: 10px;

  }

  .form-item {
    margin: 20px 0px;
  }



  #input-number {
    width: 20%;
    /*position: relative;*/
    display: inline-block;

  }

    #input-fontstyle {
      display: inline-block;
      /*position: relative;*/
      /*right: 0px;*/
      width: 60%;
      float: right;
    }

  #submit-text-button {
    float: right;
  }

    .scrollbar{
      position:absolute;
      background-color: #B00100 ;
      width: 90%;
      height: 90px;
      margin: 20px;
    }

</style>
