<div class="container from-top-padding">
  <h1>Editing Video</h1>

  <%= render 'form', video: @video %>
  <div class="container">
    <%= link_to 'Show', @video %> |
    <%= link_to 'Back', videos_path %>
  </div>
</div>

